<form (ngSubmit)="createPlayList()">
<div class="container rounded bg-white mt-5 mb-5">
  <span class="text-uppercase name" style="text-align: center">
    <h1>CẬP NHẬT PLAYLIST</h1>
  </span>
  <div>
    <div>
      <div class="p-3 py-5">
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Tên Playlist</label><input type="text" class="form-control" placeholder="Tên playlist" name="name" [(ngModel)]="playlist.name"></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Dòng nhạc</label><input type="text" class="form-control" placeholder="Dòng nhạc" name="kindOfMusic" [(ngModel)]="playlist.kindOfMusic"></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Mô tả</label><input type="text" class="form-control" placeholder="Mô tả" name="description" [(ngModel)]="playlist.description"></div>
        </div>
      </div>
      <div>
        <p style="color: red" *ngIf="createSuccess">Tạo playlist thành công</p>
      </div>
      <div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="submit">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
