<div class="row section">
  <div class="col-xl-8 col-md-10 mx-auto">
    <form [formGroup]="editSongForm" (ngSubmit)="editSong()">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title mb-0">Cập nhật bài hát</h3>
        </div>
        <div class="card-body">
          <div class="row justify-content-center mb-4 mt-3">
            <img src="{{song.fileImage}}" class="rounded-circle" width="240" height="240" alt="banner">
          </div>
          <div class="form-row form-group">
            <label for="songName" class="col-md-4 text-md-right col-form-label">Tên bài hát <sup>*</sup></label>
            <div class="col-md-7">
              <input type="text" id="songName" class="form-control" [(ngModel)]="song.nameSong"
                     formControlName="nameSong" required>
              <small *ngIf="editSongForm.get('nameSong')?.invalid " class="text-danger">
                Nhập tên bài hát độ tài tối thiểu 2 ký tự , không sử dụng ký tự đặc biệt !
              </small>
            </div>
          </div>
          <div class="form-row form-group">
            <label for="songImage" class="col-md-4 text-md-right col-form-label">Ảnh </label>
            <div class="col-md-7">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="songImage" accept="image/*"
                       (change)="processUploadImg($event)" formControlName="fileImage" required>
                <small *ngIf="editSongForm.get('fileImage')?.invalid" class="text-danger">
                  Vui lòng chọn đúng định dạng ảnh !
                </small>
                <label class="custom-file-label" for="songImage">Chọn tập tin...</label>
              </div>
              <div class="progress mt-2" *ngIf="editSongForm.get('fileImage')?.valid">
                <div class="progress-bar progress-bar-info"
                     role="progressbar" attr.aria-valuenow="{{ percentageImg }}" aria-valuemin="0"
                     aria-valuemax="100"
                     [ngStyle]="{ width: percentageImg + '%' }">{{ percentageImg }}%
                </div>
              </div>
            </div>
          </div>
          <div class="form-row form-group">
            <label class="col-md-4 text-md-right col-form-label">Nhạc <sup>*</sup></label>
            <div class="col-md-7">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileInput" accept="audio/*"
                       (change)="processUploadMp3($event)" formControlName="fileMp3" required>
                <small *ngIf="editSongForm.get('fileMp3')?.invalid && editSongForm.get('fileMp3')?.touched"
                       class="text-danger">
                  Vui lòng lựa chọn tệp âm thanh của bạn !
                </small>
                <label class="custom-file-label" for="customFileInput">Chọn tập tin...</label>
              </div>
              <div class="progress mt-2" *ngIf="editSongForm.get('fileMp3')?.valid">
                <div class="progress-bar progress-bar-info"
                     role="progressbar" attr.aria-valuenow="{{ percentageMp3 }}" aria-valuemin="0"
                     aria-valuemax="100"
                     [ngStyle]="{ width: percentageMp3 + '%' }">{{ percentageMp3 }}%
                </div>
              </div>
            </div>
          </div>
          <div class="form-row form-group">
            <label for="artistName" class="col-md-4 text-md-right col-form-label">Ca sỹ <sup>*</sup></label>
            <div class="col-md-7">
              <input type="text" id="artistName" class="form-control" [(ngModel)]="song.singer" formControlName="singer" required>
              <small *ngIf="editSongForm.get('singer')?.invalid" class="text-danger">
                Vui Lòng nhập tên ca sỹ, không được chứa ký tự đặc biệt !
              </small>
            </div>
          </div>
          <div class="form-row form-group">
            <label for="composerName" class="col-md-4 text-md-right col-form-label">Tác giả <sup>*</sup></label>
            <div class="col-md-7">
              <input type="text" id="composerName" class="form-control" [(ngModel)]="song.author"
                     formControlName="author"
                     required>
              <small *ngIf="editSongForm.get('author')?.invalid" class="text-danger">
                Vui Lòng nhập tên tác giả, không được chứa ký tự đặc biệt !
              </small>
            </div>
          </div>
          <div class="form-row form-group">
            <label for="description" class="col-md-4 text-md-right col-form-label">Giới thiệu </label>
            <div class="col-md-7">
              <textarea class="form-control" id="description" rows="4" [(ngModel)]="song.description"
                        formControlName="description"></textarea>
              <small *ngIf="editSongForm.get('description')?.invalid && editSongForm.get('description')?.touched"
                     class="text-danger">
                Mô tả không vượt quá 300 ký tự !
              </small>
            </div>
          </div>
          <div class="form-row form-group">
            <label for="category" class="col-md-4 text-md-right col-form-label">Thể loại <sup>*</sup></label>
            <div class="col-md-7">
              <select class="custom-select my-1 mr-sm-2" id="category" formControlName="category" [(ngModel)]="song.category">
                <option *ngFor="let c of categories" [ngValue]="c">{{c.nameCate}}</option>
              </select>
              <small *ngIf="editSongForm.get('category')?.invalid" class="text-danger">
                Chọn thể loại của bài hát !
              </small>
            </div>
          </div>
          <div class="form-row form-group">
            <label for="playlist" class="col-md-4 text-md-right col-form-label">Album </label>
            <div class="col-md-7">
              <select class="custom-select my-1 mr-sm-2" id="playlist" formControlName="playList" [(ngModel)]="song.playList">
                <option *ngFor="let p of playList" [ngValue]="p">{{p.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-dark" [disabled]="editSongForm.invalid">
                <i class="fa fa-upload" aria-hidden="true"></i> Cập nhật
              </button>
            </div>
            <div class="col-md-6">
              <button type="reset" class="btn btn-dark"><i class="fa fa-times" aria-hidden="true"></i> Nhập lại
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


