<div id="signup">
  <div class="container">
    <div id="signup-row" class="row justify-content-center align-items-center">
      <div id="signup-column" class="col-md-6">
        <div id="signup-box" class="col-md-12">
          <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate id="signup-form" class="form"
                method="post">
            <h3 class="text-center text-info">Sign up</h3>
            <div class="form-group">
              <label for="username" class="text-info">Username:</label><br>
              <input type="text" name="username" id="username" class="form-control"
                     placeholder="enter your username" [(ngModel)]="form.username" #username="ngModel" required minlength="6" maxlength="20">
              <div *ngIf="f.submitted && username.invalid"></div>
              <div style="color: red" *ngIf="username.hasError('required')">Username is required</div>
              <div style="color: red" *ngIf="username.hasError('minlength')">Min 6 characters</div>
              <div style="color: red" *ngIf="username.hasError('maxlength')">Max 20 characters</div>
            </div>

            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br>
              <input type="password" name="password" id="password" class="form-control "
                     placeholder="enter your password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" maxlength="20">
              <p *ngIf="f.submitted && password.invalid"></p>
              <p style="color: red" *ngIf="password.hasError('required')">Password is required</p>
              <p style="color: red" *ngIf="password.hasError('minlength')">Password between 6-20 characters</p>
              <p style="color: red" *ngIf="password.hasError('maxlength')">Password between 6-20 characters</p>
            </div>

            <div class="form-group">
              <label for="fullName" class="text-info">Full Name:</label><br>
              <input type="text" name="fullName" id="fullName" class="form-control"
                     placeholder="enter your full name" [(ngModel)]="form.fullName" #fullName="ngModel" required>
              <p *ngIf="f.submitted && fullName.invalid"></p>
              <p style="color: red" *ngIf="fullName.hasError('required')">Name is required</p>
            </div>
            <div class="form-group">
              <label for="address" class="text-info">Address:</label><br>
              <input type="text" name="address" id="address" class="form-control"
                     placeholder="enter your address" [(ngModel)]="form.address">
            </div>
            <div class="form-group">
              <label for="email" class="text-info">Email:</label><br>
              <input type="text" name="email" id="email" class="form-control"
                     placeholder="enter your email" [(ngModel)]="form.email" #email="ngModel" email required>
              <p *ngIf="f.submitted && email.invalid"></p>
              <p style="color: red" *ngIf="email.hasError('required')">Email is required</p>
              <p style="color: red" *ngIf="email.hasError('email')">Email is invalid</p>
            </div>
            <div class="form-group">
              <label for="phone" class="text-info">Phone:</label><br>
              <input type="text" name="phone" id="phone" class="form-control"
                     placeholder="enter your phone" [(ngModel)]="form.phone" #phone="ngModel" required>
              <p style="color: red" *ngIf="phone.hasError('required')">Phone is required</p>
            </div>
            <div class="form-group">
              <input type="submit" [disabled]="f.invalid" name="submit" class="btn btn-info btn-md" value="register">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container under-banner-content" id="appRoute">
  <div class="row section">
    <div class="col-xl-10 mx-auto">
      <div class="row">
        <div class="col-xl-4 col-md-5">
          <div class="card h-auto">
            <div class="card-body text-center">
              <div class="avatar avatar-xl avatar-circle mx-auto mb-4">
                <img src="../assets/images/users/thumb.jpg" alt="user">
              </div>
              <h6 class="mb-3">Halo Admin</h6>
              <p class="mb-1">Preferred by: 420x420(px)</p>
              <p>Minimum: 128x128(px)</p>
              <button type="button" class="btn btn-danger btn-air">Change Image</button>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-md-7">
          <div class="card h-auto">
            <div class="card-body">
              <form action="#" class="row">
                <div class="col-xl-6 form-group">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" id="firstName" class="form-control" value="Halo">
                </div>
                <div class="col-xl-6 form-group">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" id="lastName" class="form-control" value="Admin">
                </div>
                <div class="col-12 form-group">
                  <label for="displayName" class="form-label">Display Name</label>
                  <input type="text" id="displayName" class="form-control" value="Halo Admin">
                </div>
                <div class="col-xl-6 form-group">
                  <label for="userType" class="form-label">User Type</label>
                  <select name="userType" id="userType" class="form-control">
                    <option value="0">Admin</option>
                    <option value="1">Artist</option>
                    <option value="2">Producer</option>
                    <option value="3">User</option>
                  </select>
                </div>
                <div class="col-xl-6 form-group">
                  <label for="loc" class="form-label">Location</label>
                  <input type="text" id="loc" class="form-control" value="USA">
                </div>
                <div class="col-12 form-group">
                  <label for="about" class="form-label">About</label>
                  <textarea name="about" id="about" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <button type="button" class="btn btn-primary btn-air">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
          <div class="plan-info-card text-center px-sm-5 py-sm-4 p-3">
            <h6>No plan selected yet</h6>
            <p>Your 30 days free subscription is going to expired within 2 days please select you plan.</p>
            <a href="plan.html" class="btn btn-pill btn-air btn-success">Select Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End | Main Container -->
