<div class="section">

  <div class="heading">
    <div class="d-flex flex-wrap align-items-end">
      <div class="flex-grow-1">
        <h4>Những bài hát mới nhất</h4>
      </div>
      <a [routerLink]="'/songs/top10/new'" class="btn btn-sm btn-pill btn-air btn-primary">Xem</a>
    </div>
    <hr>
  </div>

  <div class="carousel-item-5 arrow-pos-3">
    <div class="custom-card" *ngFor="let song of songList">
      <div class="custom-card--img">
        <div class="custom-card--info">
          <ul class="custom-card--labels d-flex">
            <li><span class="badge badge-pill badge-warning"><i class="la la-star"></i></span>
            </li>
          </ul>
          <div class="dropdown dropdown-icon">
            <a href="javascript:void(0);" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <i class="ion-md-more"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item">
                <a href="javascript:void(0);" class="dropdown-link favorite">
                  <i class="la la-heart-o"></i>
                </a>
              </li>
              <li class="dropdown-item">
                <a href="javascript:void(0);" class="dropdown-link">
                  <i class="la la-plus"></i>
                </a>
              </li>
              <li class="dropdown-item">
                <a href="javascript:void(0);" class="dropdown-link">
                  <i class="la la-download"></i>
                </a>
              </li>
              <li class="dropdown-item">
                <a href="javascript:void(0);" class="dropdown-link">
                  <i class="la la-share-alt"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <a [routerLink]="'/songs/detail/'+song.id" class="external">
          <img src="{{song.fileImage}}" alt="I Love You Mummy"
               class="card-img--radius-lg">
        </a>
      </div>

      <a href="song-details.html" class="custom-card--link mt-2">
        <h6>{{song.nameSong}}</h6>
        <p>{{song.singer}}</p>
      </a>
    </div>
  </div>


</div>
