<div class="section">
  <form [formGroup]="commentForm" (ngSubmit)="createComment()">
    <div class="mb-4">
      <textarea formControlName="content" [(ngModel)]="comment.content" id="comment" cols="30" rows="5" class="form-control" required></textarea>
      <div class="text-right mt-2">
        <button type="submit" class="btn btn-info" [disabled]="commentForm.invalid">Comment</button>
      </div>
    </div>
  </form>
  <div class="d-flex mb-4">
    <div *ngFor="let c of comments">
      <div class="avatar avatar-sm avatar-circle">
        <img src="{{c.createdBy.avatar}}" alt="avatar">
      </div>
      <div class="pl-3 flex-grow-1 flex-basis-0">
        <span class="d-block font-weight-bold mb-1">{{c.createdBy.fullName}}</span>
        <p class="mb-2">{{c.content}}</p>
      </div>
    </div>
  </div>
</div>
