<table border="1px">
  <tr>
    <td>Content</td>
    <td></td>
  </tr>
  <tr *ngFor="let comment of listComment ; let i = index" >
    <td>
<!--      <a [routerLink]="'detail/'+b.id">-->
        {{comment.content}}
<!--      </a>-->
    </td>
    <td>
      <button type="button" class="btn btn-outline-warning" (click)="edit(comment.id)">Edit</button>
      <button type="button" class="btn btn-outline-warning" (click)="delete(comment.id)" >Delete</button>
  </tr>
</table>
<div class="form-group">
  <label>Content</label>
  <input type="text"  placeholder="Enter content" name="description"
         [(ngModel)]="comment.content">
</div>
<input (click)="create()" type="submit" value="Create"/>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>


<!--<table mat-table class="mat-elevation-z8" *ngFor="let comment of listComment">-->
<!--  <ng-container matColumnDef="position">-->
<!--    <th mat-header-cell>No.</th>-->
<!--    <td mat-cell> {{comment.content}} </td>-->
<!--  </ng-container>-->
<!--</table>-->
