<div class="form-group" id="create">
  <label>Content</label>
  <input type="text"  placeholder="Enter content" name="description"
         [(ngModel)]="comment.content">
</div>
<input (click)="create()" type="submit" value="Create"/>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>


<!--<table mat-table class="mat-elevation-z8" *ngFor="let comment of listComment">-->
<!--  <ng-container matColumnDef="position">-->
<!--    <th mat-header-cell>No.</th>-->
<!--    <td mat-cell> {{comment.content}} </td>-->
<!--  </ng-container>-->
<!--</table>-->
<table width="50%">
        <tr>
          <td><mat-panel-title>
            Comment
          </mat-panel-title></td>
        </tr>
        <tr *ngFor="let comment of listComment">
          <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{comment.content}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-title>
              <button type="button" class="btn btn-outline-warning" (click)="edit(comment.id)">Edit</button>
              <button type="button" class="btn btn-outline-warning" (click)="delete(comment.id)" >Delete</button>
            </mat-panel-title>
          </mat-expansion-panel>
          </mat-accordion>
        </tr>
</table>


