<!-- Begin | Audio Player [[ Find at scss/framework/base/audio-player/audio-player.scss ]] -->
<div id="audioPlayer" class="player-primary">
  <div>
    <audio controls #audioPlayer [src]="selectedAudio?.url"></audio>
  </div>
  <!-- Begin | Audio Player Progress thời gian-->
  <div id="progress-container">
    <input type="range" max="{{totalAudioLength}}" value="{{currentAudioTime}}" (input)="seekAudio($event)">
    <progress class="audio-progress audio-progress--played"></progress>
    <progress class="audio-progress audio-progress--buffered" value="0"></progress>
  </div>
  <!-- End | Audio Player Progress thông tin-->

  <!-- Begin | Audio -->
  <div class="audio">
    <div class="song-image"><img src="{{selectedAudio?.cover}}" alt="cover" (error)="onImgError($event)"></div>
    <div class="song-info pl-3">
      <span class="song-name d-inline-block text-truncate">{{selectedAudio?.title}}</span>
      <span class="song-artists d-block text-muted">{{selectedAudio?.artist}}</span>
    </div>
  </div>
  <!-- End | Audio -->

  <!-- Begin | Audio Controls control-->
  <div class="audio-controls">
    <div class="audio-controls--left d-flex mr-auto">
      <button class="btn btn-icon-only" *ngIf="repeat && !isRepeat" (click)="repeatAudio()"><i class="la la-repeat"></i>
      </button>
      <button class="btn btn-icon-only" *ngIf="repeat && isRepeat" (click)="repeatAudio()"><i class="la la-retweet"></i><sup>1</sup>
      </button>
    </div>
    <div class="audio-controls--main d-flex">
      <button class="btn btn-icon-only" *ngIf="previous" (click)="previousAudio()"><i class="ion-md-skip-backward"></i>
      </button>
      <button class="btn btn-air btn-pill btn-default btn-icon-only " (click)="play()" *ngIf="!isAudioPlaying">
        <i class="ion-md-play"></i>
      </button>
      <button class="btn btn-air btn-pill btn-default btn-icon-only" (click)="pause()" *ngIf="isAudioPlaying">
        <i class="ion-md-pause"></i>
      </button>
      <button class="btn btn-icon-only" *ngIf="next" (click)="nextAudio()"><i class="ion-md-skip-forward"></i></button>
    </div>
    <div class="audio-controls--right d-flex ml-auto">
      <button class="btn btn-icon-only amplitude-shuffle"><i class="ion-md-shuffle"></i></button>
    </div>
  </div>
  <!-- End | Audio Controls -->

  <!-- Begin | Audio Info tùy chọn-->
  <div class="audio-info d-flex align-items-center pr-4">
                    <span class="mr-4">
                        <span>{{ currentAudioTime | timeConversion}}</span> /
                        <span>{{ totalAudioLength | timeConversion}}</span>
                    </span>
    <div class="audio-volume dropdown">
      <button class="btn btn-icon-only" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="ion-md-volume-low"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right volume-dropdown-menu">
        <input type="range" max="100" value="{{audioVolume}}" (click)="$event.stopPropagation();"
               (input)="volumeChange($event)">
      </div>
    </div>

    <div class="dropleft">
      <button class="btn btn-icon-only" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="la la-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item">
          <a href="javascript:void(0);" class="dropdown-link">
            <i class="la la-heart-o"></i> <span>Yêu thích</span>
          </a>
        </li>
        <li class="dropdown-item">
          <a class="dropdown-link" data-toggle="modal" data-target="#lang" class="language" (click)="changeSongAdd(selectedAudio?.id)">
            <i class="la la-plus"></i> <span>Thêm vào playlist</span>
          </a>
        </li>
        <li class="dropdown-item">
          <a class="dropdown-link">
            <i class="la la-download"></i> <span>Tải nhạc</span>
          </a>
        </li>
        <li class="dropdown-item">
          <a class="dropdown-link">
            <i class="la la-share-alt"></i> <span>Chia sẻ</span>
          </a>
        </li>
        <li class="dropdown-item">
          <a [routerLink]="'/songs/detail/' + selectedAudio?.id" class="dropdown-link">
            <i class="la la-info-circle"></i>
            <span>Chi tiết</span>
          </a>
        </li>
      </ul>
    </div>
    <button class="btn btn-icon-only" id="playList"><i class="ion-md-musical-note"></i></button>
  </div>
  <!-- End | Audio Info -->

</div>
<!-- End | Audio Player -->
