<div class="container-fluid">
  <div class="row card-body text-center">
    <div class="col">có <span style="color: blue">{{songList.length}}</span> bài hát</div>
    <div class="col">
      <button type="button" class="btn btn-outline-primary" [routerLink]="'/songs/create'">Thêm bài mới</button>
    </div>
    <div class="col">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/songs/top10songsview">Top 10 Songs View</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/songs/top10songsnew">Top 10 Songs New</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <form class="d-flex">
        <input [(ngModel)]="keyword" name="keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button (click)="searchSong()" class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <table class="table text-center">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên bài hát</th>
      <th scope="col">Giới thiệu</th>
      <th scope="col">MP3</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Tác Giả</th>
      <th scope="col">Ca Sỹ</th>
      <th scope="col">Ablum</th>
      <th scope="col">Người đăng</th>
      <th scope="col">Thể loại</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of songList, let i = index">
      <th scope="row">{{i + 1}}</th>
      <td><a [routerLink]="'detail/'+s.id">{{s.nameSong}}</a></td>
      <td>{{s.description}}</td>
      <td>
          <audio controls>
            <source src="{{s.fileMp3}}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
      </td>
      <td><img src="{{s.fileImage}}" alt="banner" width="100" height="100"></td>
      <td>{{s.author}}</td>
      <td>{{s.author}}</td>
      <td>{{s.author}}</td>
      <td>{{s.author}}</td>
      <td>{{s.author}}</td>
      <td>
        <button type="button" class="btn btn-outline-primary" [routerLink]="'/songs/edit/' + s.id">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-primary" (click)="delSong(s.id)">
          Del
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
