<aside id="rightSidebar">
  <div class="right-sidebar-header">Nghe gì hôm nay</div>
  <div class="right-sidebar-body" data-scrollable="true">
    <ul class="list-group list-group-flush">
      <!-- Begin | Custom List Item -->
      <li class="custom-list--item list-group-item" *ngFor="let s of songList, let i = index">
        <div class="text-dark custom-card--inline">
          <div class="custom-card--inline-img">
            <img src="{{s.fileImage}}" alt="cover" class="card-img--radius-sm" (click)="playSong(i)">
          </div>

          <div class="custom-card--inline-desc">
            <p class="text-truncate mb-0" (click)="playSong(i)">{{s.nameSong}}</p>
            <p class="text-truncate text-muted font-sm">{{s.singer}}</p>
          </div>
        </div>
        <ul class="custom-card--labels d-flex ml-auto">
          <li class="dropleft">
            <a href="javascript:void(0);" class="btn btn-icon-only p-0 w-auto h-auto"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="la la-ellipsis-h"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                <a href="javascript:void(0);" class="dropdown-link favorite">
                  <i class="la la-heart-o"></i>
                  <span>Yêu thích</span>
                </a>
              </li>
              <li class="dropdown-item">
                <a href="javascript:void(0);" class="dropdown-link">
                  <i class="la la-plus"></i>
                  <span>Thêm vào Playlist</span>
                </a>
              </li>
              <li class="dropdown-item">
                <a href="javascript:void(0);" class="dropdown-link">
                  <i class="la la-download"></i>
                  <span>Download</span>
                </a>
              </li>
              <li class="dropdown-item">
                <a href="javascript:void(0);" class="dropdown-link">
                  <i class="la la-share-alt"></i>
                  <span>Chia sẻ</span>
                </a>
              </li>
              <li class="dropdown-item">
                <a [routerLink]="'/songs/detail/'+ s.id" class="dropdown-link">
                  <i class="la la-info-circle"></i>
                  <span>Chi tiết</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- End | Custom List Item -->

    </ul>
  </div>
</aside>
