<div class="container-fluid">
  <div class="banner bg-song">

  </div>
  <!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
  <div class="main-container mt-5" id="appRoute" >
    <div class="row section text-center text-md-left">
      <div class="col-xl-3 col-lg-4 col-sm-5">
        <img src="{{song.fileImage}}" alt="banner" class="card-img--radius-lg">
      </div>
      <div class="col-xl-9 col-lg-8 col-sm-7">
        <div class="row pt-4">
          <div class="col-xl-8 col-lg-6">
            <h3><p>{{song.nameSong}}</p></h3>
            <span class="badge badge-pill badge-warning mt-3">Premium</span>
            <div class="mt-4">
              <audio controls autoplay>
                <source src="{{song.fileMp3}}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="pt-3 pt-lg-0 text-lg-right">
              <button class="btn btn-pill btn-air btn-danger btn-icon-only"><i class="la la-heart-o"></i></button>
              <button class="btn btn-pill btn-air btn-warning btn-icon-only"><i class="la la-plus"></i></button>
              <button class="btn btn-pill btn-air btn-success btn-icon-only"><i class="la la-download"></i></button>
              <button class="btn btn-pill btn-air btn-brand btn-icon-only"><i class="la la-share-alt"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
      <!-- Begin | Line Tabs [[ Find at scss/framework/components/line-tabs.scss ]] -->
      <ul class="nav nav-tabs line-tabs line-tabs-primary text-uppercase mb-4" id="songDetails" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="lyrics-tab" data-toggle="tab" href="#lyrics" role="tab" aria-controls="lyrics" aria-selected="false">Lyrics</a>
        </li>
      </ul>
      <!-- End | Line Tabs -->

      <!-- Begin | Tab Content -->
      <div class="tab-content" id="songDetailsContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item pl-0 border-0">Lượt nghe: <span class="font-weight-bold">{{song.numberOfView}}</span></li>
            <li class="list-group-item pl-0 border-0">Giới thiệu: <span class="font-weight-bold">{{song.description}}</span></li>
            <li class="list-group-item pl-0 border-0">Thể hiện: <span class="font-weight-bold">{{song.singer}}</span></li>
            <li class="list-group-item pl-0 border-0">Tác giả: <span class="font-weight-bold">{{song.author}}</span></li>
            <li class="list-group-item pl-0 border-0">Thể loại: <span class="font-weight-bold">{{song.category}}</span></li>
            <li class="list-group-item pl-0 border-0">Ngày đăng: <span class="font-weight-bold">{{song.createdTime | date:'dd/MM/yyyy'}}</span></li>
            <li class="list-group-item pl-0 border-0">Người đăng: <span class="font-weight-bold">{{song.createdBy}}</span></li>
            <li class="list-group-item pl-0 border-0">Cập nhật gần nhất: <span class="font-weight-bold">{{song.updatedTime}}</span></li>
          </ul>
        </div>
        <div class="tab-pane fade show" id="lyrics" role="tabpanel" aria-labelledby="lyrics-tab">
          <p>This one's for you Mrs Van De Kamp!</p>
          <p>My love for you is like the most brave aubergine, <br>
            Your face reminds me of repugnant goats, <br>
            Together, we are like bread rolls and olive oil.</p>
          <p>Oh darling Nigel, <br>
            My brave aubergine, <br>
            My repugnant onion, <br>
            The perfect companion to my bread rolls soul.</p>
          <p>Poppies are red, <br>
            Kingfishers are blue, <br>
            I like drinking tequila, <br>
            But not as much as I love crashing with you!</p>
          <p>Oh darling Nigel, <br>
            Your cheeks are like clean rakes on a summer day, <br>
            You're like the most super barman to ever walk Hull.</p>
          <p>Your repugnant goat face, <br>
            Your olive oil soul, <br>
            Your clean cheeks, <br>
            Your super barman being...</p>
          <p>How could I look at another when our brave aubergine love is so strong?</p>
          <p>I love you Mrs Van De Kamp!</p>
        </div>
      </div>
      <!-- End | Tab Content -->
    </div>
    <!-- End | Section -->

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
      <form [formGroup]="commentForm" (ngSubmit)="createComment()">
      <div class="mb-4">
        <textarea formControlName="content" [(ngModel)]="comment.content" id="comment" cols="30" rows="5" class="form-control" required></textarea>
        <div class="text-right mt-2">
          <button type="submit" class="btn btn-info" [disabled]="commentForm.invalid">Comment</button>
        </div>
      </div>
      </form>
      <div class="d-flex mb-4">
        <div *ngFor="let c of comments">
        <div class="avatar avatar-sm avatar-circle">
          <img src="{{c.createdBy.avatar}}" alt="avatar">
        </div>
        <div class="pl-3 flex-grow-1 flex-basis-0">
          <span class="d-block font-weight-bold mb-1">{{c.createdBy.fullName}}</span>
          <p class="mb-2">{{c.content}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End | Section -->

  </div>
  <!-- End | Main Container -->
</div>
